.main-navbar {
	background-color: var(--darkGray);
	padding: 0 2rem;
}

.main-navbar li {
	list-style: none;
}

.main-navbar a {
	text-transform: capitalize;
	display: block;
	padding: 1rem 0;
	color: var(--primaryColor);
	letter-spacing: var(--mainSpacing)
	transition: var(--mainTransition);
}
