.main-navbar {
	background-color: var(--darkGray);
	padding: 0 2rem;
}

.navbar__item {
	list-style: none;
}

.navbar__link {
	text-transform: capitalize;
	display: block;
	padding: 1rem 0;
	color: var(--primaryColor);
	letter-spacing: var(--mainSpacing);
	transition: var(--mainTransition);
}

.navbar__link:hover {
	color: var(--mainBlack);
}

@media screen and (min-width: 992px) {
	.navbar__list {
		max-width: 1170px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.navbar__link {
		text-align: center;
	}
}
