.tiles {
	padding: 4rem 0;
}

.tiles-center {
	width: 90vw;
	max-width: 1170px;
	margin: 2rem auto;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
}

@media screen and (min-width: 1170px) {
	.tiles-center {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 200px);
		grid-template-areas:
			"a a a c"
			"a a a b"
			"d d d d"
			"e f f f"
			"e g h i";
	}

	.tiles img {
		height: 100%;
		object-fit: cover;
	}

	.tile-1 {
		grid-area: a;
	}
	.tile-2 {
		grid-area: b;
	}
	.tile-3 {
		grid-area: c;
	}
	.tile-4 {
		grid-area: d;
	}
	.tile-5 {
		grid-area: e;
	}
	.tile-6 {
		grid-area: f;
	}
	.tile-7 {
		grid-area: g;
	}
	.tile-8 {
		grid-area: h;
	}
	.tile-9 {
		grid-area: i;
	}
}

.btn {
	margin-top: 0;
}
